/* General styles and responsive design */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    font-family: 'ABC Social', sans-serif;
    color: var(--text-color);
}

@font-face {
    font-family: 'ABC Social';
    src: url('ABCSocial/ABCSocialCondensedEdu-Bold.woff2') format('woff2');
    font-weight: bold;
}

/* Dark and light mode colors */
:root {
    --bg-color: #FFFFFF;
    --text-color: #000000;
    --hover-color: #026126;
    --selection-color: #bebfc3;
    --about-hover-color: #bebfc3;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000000;
        --text-color: #FFFFFF;
    }
}

/* Section styles */
a {
    color: var(--text-color);
    text-decoration: none;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

section.sticky {
    position: sticky;
}

/* Home specific styles (Spinning Wheel) */
.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.circle-container {
    position: relative;
    width: 90vh;
    height: 90vh;
}

.circle-image {
    position: absolute;
    width: 125x;
    height: 125px;
    object-fit: contain;
}

.about-link a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
    pointer-events: auto;
    transition: color 0.3s ease;
    z-index: 10;
}

.about-link a:hover {
    color: var(--about-hover-color);
    text-decoration: underline;
}

/* Responsive design for Spinning Wheel */
@media (max-width: 768px) {
    .home-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle-container {
        position: absolute;
        width: 75vw;
        height: 500vh; /* Adjust height to fit within smaller screens */

    }
    .circle-image {
        width: 50px; /* Reduce image size further */
        height: 50px;
    }
    .about-link a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem; /* Adjust size for mobile */
    }
}

/* About page styles */
.about-body {
    display: block;
    overflow: auto;
}

section.info {
    background-color: var(--bg-color);
    padding: 2vw;
    max-width: 90vw;
    margin: 1.5vw auto;
    text-align: left;
    font-size: 4vw;
    line-height: 4.5vw;
}

section.info p {
    margin-bottom: 2.5vw;
}

section.info a:hover {
    text-decoration: underline;
    color: var(--hover-color);
}

/* Text selection styles */
::selection {
    color: var(--selection-color);
}

section.info a:hover::selection {
    color: var(--hover-color);
}

/* Hover effects */
.hover-effect {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.hover-effect:hover {
    background-color: #ff8800;
}

.hover-effect:hover::selection {
    background-color: #ff8800;
}

/* Scrollable container for images */
div.scroll-container {
    overflow: auto;
    white-space: nowrap;
}

div.scroll-container img {
    max-width: 65%;
    max-height: auto;
    vertical-align: middle;
}

div {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

div::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* Responsive design */
@media (max-width: 768px) {
    body, h1, section.contact a {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
